<footer>
    <section class="footerMisc">
        <div class="container">
            <h2>Matricule ya!</h2>
            <p>Si quiere matricular o requiere más información sobre los cursos, por favor escríbanos un email a <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
        </div>
    </section>
    <section class="footerMain">
        <div class="container">
            <div class="span5">
                <a href="#"><i class="ico ico-logo-header">Academia Origami</i></a>
                <p><small>Hecho en Costa Rica.<br/>
                2014 Origami Academy  - San Jose, Costa Rica<br/>
                <a class="blockHover" href="mailto:info@origami.academy" target="_blank">mail: info@origami.academy</a></small></p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/origami.academy.cr" target="_blank"><i class="ico ico-facebook">Origami Academy - Síguenos en Facebook</i></a></li>
                    <li><a href="https://twitter.com/OrigamiAcademy1" target="_blank"><i class="ico ico-twitter">Origami Academy - Síguemos en Twitter</i></a></li>
                    <!-- <li><a href="#"><i class="ico ico-youtube">Origami Academy - Síguemos en  YouTube</i></a></li>
                    <li><a href="#"><i class="ico ico-linkedin">Origami Academy - Síguemos en Linkedin</i></a></li>
                    <li><a href="#"><i class="ico ico-googleplus">Origami Academy - Síguemos en Google+</i></a></li> -->
                </ul>
            </div>
            <div class="span3">
                <h3>Origami</h3>
                <ul class="links">
                    <!-- <li><a href="#">La Academia</a></li>
                    <li><a href="#">Cursos</a></li> -->
                    <li><a href="/contact.html">Contacto</a></li>
                </ul>
            </div>
            <div class="span4">
                <!-- <h3>Comunidad</h3>
                <ul class="links">
                    <li><a href="#">Buscando Talento</a></li>
                    <li><a href="#">Quiére dar un Curso?</a></li>
                    <li><a href="#">Partners</a></li>
                </ul> -->
            </div>
        </div>
    </section>
</footer>