<section class="panel panelHeader">
    <div class="black-fill clearfix">
        <header class="container">
            <section class="logo span4">
                <a href="/">
                    <i class="ico ico-logo-header">Academia Origami</i>
                </a>
            </section>
            <nav class="span8">
                <ul class="clearfix">
                    <li><a class="active" href="../#why">Origami <span>Qué y Porqué?</span></a></li>
                    <!-- <li><a href="#">Cursos <span>Próximas Aperturas</span></a></li> -->
                    <li><a href="/contact.html">Contacto <span>Ubicación &amp; Consultas</span></a></li>
                </ul>
            </nav>
        </header>
    </div>
</section>        
<!-- End section 1 header //-->