<section class="panel panelHeader home">
    <header class="container">
        <section class="logo span4">
            <a href="/">
                <i class="ico ico-logo-header">Academia Origami</i>
            </a>
        </section>
        <nav class="span8">
            <ul class="clearfix">
                <li><a class="active" href="#why">Origami <span>Qué y Porqué?</span></a></li>
                <li><a href="/cursos.html">Cursos <span>Próximas Aperturas</span></a></li>
                <li><a href="/contact.html">Contacto <span>Ubicación &amp; Consultas</span></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Origami es<br/> <span class="highlighted">La</span> Academia<br/> de Código y Diseño<br/> en San José</h1>
        <p>En Origami le ayudamos a escalar su carrera aprovechando las oportunidades modernas en tecnología y diseño, específicamente en las áreas de programación web/móvil y diseño UI/UX</p>
    </div>
</section>        
<!-- End section 1 header //-->