<section class="side-bar-cursos">
	<h3>Otros Cursos</h3>
	<ul>
		<li><a href="/cursos/html-css.html">HTML &amp; CSS</a></li>
		<li><a href="/cursos/javascript-basic.html">JavaScript Introductorio</a></li>
		<li><a href="/cursos/javascript-advanced.html">JavaScript Avanzado</a></li>
		<li><a href="/cursos/angularjs.html">Angular.js</a></li>
		<li><a href="/cursos/backbonejs.html">Backbone.js</a></li>
		<li><a href="/cursos/introduction-to-nodejs.html">Introducción a Node.js</a></li>
		<li><a href="/cursos/introduction-to-wordpress.html">Introducción a WordPress</a></li>
		<li><a href="/cursos/advanced-wordpress.html">WordPress Avanzado</a></li>
		<li><a href="/cursos/ruby-on-rails.html">Ruby On Rails</a></li>
	</ul>
</section>