<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Ofrecer al estudiante con conocimientos básicos en <strong>Wordpress</strong> las herramientas para crear temas avanzados. Repasar las mejores prácticas para poder ofrecer la mayor variedad de posibilidades a clientes con requerimientos avanzados.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Diseñadores o desarrolladores web interesados en escalar sus conocimientos en <strong>WordPress</strong>.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>HTML/CSS, JS básico</li>
		<li>Wordpress básico</li>
		<li>Laptop (preferiblemente Mac)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://cr.linkedin.com/in/lillyanka" target="_blank"><img src="../img/cursos/wordpress/lilliana-viquez.jpg" alt="Lilliana Víquez">
		<p><strong>Lilliana Víquez Murillo</strong><br/></a>
		<em><small>Fundadora / Senior Developer @ TwelveOhSix Creative</small></em><br/>
		Desarrolladora web con 5 años de experiencia en Front-End, Wordpress y Shopify para clientes dentro y fuera de Costa Rica</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Breve diagnóstico</li>
			<li>Custom Themes Avanzados</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="24"></i>
	        <p><span class="date-time">Miércoles 24 de Setiembre / {{ page.time }}</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="9">
			<li>Custom Themes Avanzados (continuación)</li>
			<li>Sitios en varios idiomas con WPML</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="1"></i>
	        <p><span class="date-time">Miércoles 1 de Octubre / {{ page.time }}</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="12">
			<li>Creación de filtros y funciones avanzadas</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="8"></i>
	        <p><span class="date-time">Miércoles 8 de Octubre / {{ page.time }}</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="16">
			<li>Creación de un plugin</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="15"></i>
	        <p><span class="date-time">Miércoles 15 de Octubre / {{ page.time }}</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="19">
			<li>Child themes</li>
			<li>Tips y best practices</li>
		</ol>
	</div>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-day }} de Agosto - 15 de Octubre</span><br/>
	       	5 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">TEC Campus San Pedro</span><br/>
            	Oficentro Condal / 2<sup>do</sup> piso</p>
        	<p class="address"><small>San Pedro de Montes de Oca<br/>
        		Contiguo a Muñoz &amp; Nanne<br/>
        		Piso #2<br/>
        		El edificio cuenta con amplio parqueo<br/>
        		<a href="https://www.facebook.com/Oficentro.Condal" target="_blank">Ver Página en Facebook</a></small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $225</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>15 horas de curso</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<!--
		<p><strong>***</strong> A las 2 primeras personas en matricular se les regalará el <a href="http://shop.oreilly.com/product/0636920024606.do" target="_blank">Libro Learning Node de O'reilly</a></p>
		<img src="../img/cursos/node/node.gif" alt="Learning Node"/>
		-->
	</div>

	{% include side-bar-cursos.html %}

</aside>