<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>El Desarrollo Web en general siempre está en rápido y constante cambio, pero siempre hay un grupo de tecnologías establecidas que marcan la pauta sobre la dirección y las buenas prácticas que se implementan en el proceso. <strong>AngularJS</strong>, al ser un proyecto completamente patrocinado por Google y por su amplia adopción, está en camino de convertirse (si no es que ya lo es) en una de estas tecnologías. El Objetivo de este curso es darle un vistazo a como se hace Desarrollo Web en el 2013, enfocado principalmente en <strong>AngularJS</strong> pero sin dejar de lado tecnologías complementarias como <em>Twitter Boostrap, PureCSS, Yeoman, Grunt y Bower</em>.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Programadores <em>Front-End</em> que estén interesados en ampliar sus conocimientos más allá de <em>jQuery</em> y la forma tradicional de comunicarse con el servidor y estructurar páginas web.</li>
		<li>Programadores <em>Back-End</em> que sepan del modelo <em>MVC</em> y que estén interesados en conocer como <strong>AngularJS</strong> esta implementando patrones de diseno en el <em>Front-End</em>.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>JavaScript basico</li>
		<li>jQuery basico</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Laptop (Mac preferiblemente)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<img src="../img/cursos/angular/alberto-cole.jpg" alt="Alberto Cole">
		<a href="http://www.linkedin.com/pub/alberto-cole-palacios/74/234/886" target="_blank"><p><strong>Alberto Cole</strong><br/>
		<em><small>Web Developer</small></em><br/></a>
		Desarrollador Web con 8 años de experiencia en desarrollo de soluciones web para clientes locales e internacionales.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Viernes {{ page.start-day }} de Agosto / {{ page.time }}</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Que son Single Page Applications?</li>
			<li>Que es MVC?</li>
			<li>En que cirscuntancias nace jQuery</li>
			<li>3. En que cirscuntancias nace AngularJS?</li>
			<li>Angular vs. jQuery?</li>
			<li>Links de Interes</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="15"></i>
	        <p><span class="date-time">Viernes 15 de Agosto / {{ page.time }}</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="5">
			<li>Notacion JSON y su funcion como medio de transporte y definicion de datos</li>
			<li>El Objeto $scope</li>
			<li>Controladores</li>
			<li>Formularios</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="22"></i>
	        <p><span class="date-time">Viernes 22 de Agosto / {{ page.time }}</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="9">
			<li>Bower, Grunt y Yeoman</li>
			<li>Routing</li>
			<li>Filtros</li>
			<li>Animaciones</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="29"></i>
	        <p><span class="date-time">Viernes 29 de Agosto / {{ page.time }}</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="13">
			<li>Accediendo al servidor mediante $http, $resource y RESTangular</li>
			<li>Promises vs Callbacks</li>
			<li>Services, Factories, y Providers</li>
			<li>Unit Testing con Jasmine y KarmaJS</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="5"></i>
	        <p><span class="date-time">Viernes 5 de Setiembre / {{ page.time }}</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="16">
			<li>Directivas</li>
			<li>Creando la vista con SASS, Compass y Twitter Bootstrap</li>
			<li>Underscore</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="12"></i>
	        <p><span class="date-time">Viernes 12 de Setiembre / {{ page.time }}</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="21">
			<li>Recipe: Repaso general construyendo de un mobile web app para TODOs usando Facebook API y BaaS (Back-end as a Service) con Firebase</li>
		</ol>
	</div>

	<h2>Contenido:</h2>
	<p>Ventajas de usar un approach MVC del lado del cliente, comparando una solución de jQuery contra lo que se puede hacer en Angular, revisión de los frameworks más famosos y porque AngularJS es la mejor solución actualmente, revisión de los sitios más importantes de desarrollo web para mantenerse actualizado.</p>
	<p>Inicio de un proyecto web desde la iteración 0: Pasos para instalar Sublime Text, Jetbrains WebStorm, aprender a trabajar con Git desde la linea de comandos y desde el IDE, aplicando conceptos de branches, los comandos commit, push y pull. Una vez listo el entorno de desarrollo se procede (y de ahora en adelante lo mismo para cada lección) a bajar un repositorio con código para empezar a entender el concepto de Data Binding de Angular, y una revision de la notación JSON.</p>
	<p>Se empieza a entender como usar el $scope con ejemplos de cómo ayuda a separar la lógica de negocios de la vista, se introduce al estudiante en el concepto de controladores y de cuáles son las mejores prácticas para dividir el código por controladores. Se muestran los nuevos tags y el ciclo de vida para “enseñarle” al browser nuevos comportamientos. Uso de los filtros built-in de Angular y de como crear nuevos filtros.</p>
	<p>Se muestra el concepto de routing en el front-end, y de como AngularJS lo implementa, cuales son los casos más comunes a la hora de aplicarlo y de porque ayuda a ordenar el código. Creación paso a paso de una inyección de dependencias, además de una explicación de cual es el mecanismo para que esto suceda. Concepto de directivas y de porqué son tan buenas para re-utilizar y modularizar el código, comunicación entre directivas. Todo esto mediante la modificación y explicación linea por linea de una directiva previamente creada para la clase.</p>
	<p>Vistazo de tecnologías complementarias a AngularJS: Twitter Bootstrap como ayuda para estructurar la vista y su soporte de Responsive Web Design, revisión de los subproyectos de Angular UI para expandir la Vista, practicar con las funciones más comunes para manejar colecciones y objetos con Underscore.js, Scaffolding con Yeoman y de su utilidad para crear la estructura de un proyecto, además de como se liga a Bower para despreocuparse del mantenimiento y búsqueda de scripts de los que dependen un proyecto, y Grunt para automatización de tareas tediosas y repetitivas (pero necesarias) como minificar JS y CSS, actualización de cambios con LiveReload y su extensibilidad. Creación y automatización de unit testing con Jasmine, Angular Mocks y PhantomJS.</p>
	<p>Validaciones de formularios y de como AngularJS automáticamente agrega comportamientos a los tags <form /> para tareas comunes, suscripción de objetos al $watch para estar viendo sus cambios de estados, $setValidity para validar o invalidar un formulario, ng-submit para capturar los eventos de submit de un formulario. Mayor separación lógica del código mediante los conceptos de service, factory y provider, y en qué caso es adecuado cada uno. Conceptos de AJAX y REST, como hacer solicitudes HTTP al servidor mediante los servicios $http y $resource. Repaso general de la aplicación creada en las lecciones, revisión del futuro próximo del desarrollo web y técnicas para estar siempre actualizado.</p>
	<p>Vistazo de BAAS (Back-end as a Service) usando Firebase con AngularFire y mostrando alternativas como Parse.com y Hood.ie, y como sacarle provecho a la hora de hacer aplicacioens web.</p>
	<p>Uso de PureCSS para crear layouts Mobile-First para hacer Mobile Web Apps.</p>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-day }} de Agosto - 12 de Setiembre</span><br/>
	       	6 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">Universidad Creativa</span></p>
        	<p class="address"><small>Del cementerio de San Pedro 350 sur, Circunvalación, San Pedro.</small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $270</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>18 horas de curso</li>
			<li>Refrigerios</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<p><strong>***</strong> A las 2 primeras personas en matricular se les regalará el <a href="http://shop.oreilly.com/product/0636920028055.do" target="_blank">Libro Angular.js de O'reilly</a></p>
		<img src="../img/cursos/angular/angular.gif" alt="Angular.js"/>
	</div>

	{% include side-bar-cursos.html %}

</aside>
