<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>El Desarrollo Web en general siempre está en rápido y constante cambio, pero siempre hay un grupo de tecnologías establecidas que marcan la pauta sobre la dirección y las buenas prácticas que se implementan en el proceso. <strong>AngularJS</strong>, al ser un proyecto completamente patrocinado por Google y por su amplia adopción, está en camino de convertirse (si no es que ya lo es) en una de estas tecnologías. El Objetivo de este curso es darle un vistazo a como se hace Desarrollo Web en el 2013, enfocado principalmente en <strong>AngularJS</strong> pero sin dejar de lado tecnologías complementarias como <em>Twitter Boostrap, PureCSS, Yeoman, Grunt y Bower</em>.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Programadores <em>Front-End</em> que estén interesados en ampliar sus conocimientos más allá de <em>jQuery</em> y la forma tradicional de comunicarse con el servidor y estructurar páginas web.</li>
		<li>Programadores <em>Back-End</em> que sepan del modelo <em>MVC</em> y que estén interesados en conocer como <strong>AngularJS</strong> esta implementando patrones de diseno en el <em>Front-End</em>.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>JavaScript basico</li>
		<li>jQuery basico</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Laptop (Mac preferiblemente)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://www.linkedin.com/in/kevinblanco" target="_blank"><img src="../img/cursos/node/kevin-blanco.jpg" alt="Kevin Blanco"></a>
		<p><strong>Kevin Blanco</strong><br/>
		<em><small>Front-End Engineer @ log(n)</small></em><br/>
		Desarrollador Web con más de 4 años de experiencia desarrollando soluciones web tanto en Back-End como en Front-End.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Que son Single Page Applications?</li>
			<li>Que es MVC?</li>
			<li>En que cirscuntancias nace jQuery</li>
			<li>3. En que cirscuntancias nace AngularJS?</li>
			<li>Angular vs. jQuery?</li>
			<li>Links de Interes</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="27"></i>
	        <p><span class="date-time">Martes 27 de Enero / {{ page.time }}</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="5">
			<li>Notacion JSON y su funcion como medio de transporte y definicion de datos</li>
			<li>El Objeto $scope</li>
			<li>Controladores</li>
			<li>Formularios</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="3"></i>
	        <p><span class="date-time">Martes 3 de Febrero / {{ page.time }}</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="9">
			<li>Bower, Grunt y Yeoman</li>
			<li>Routing</li>
			<li>Filtros</li>
			<li>Animaciones</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="10"></i>
	        <p><span class="date-time">Martes 10 de Febrero / {{ page.time }}</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="13">
			<li>Accediendo al servidor mediante $http y $resource</li>
			<li>Promises vs Callbacks</li>
			<li>Services, Factories, y Providers</li>
			<li>Unit Testing con Jasmine y KarmaJS</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="17"></i>
	        <p><span class="date-time">Martes 17 de Febrero / {{ page.time }}</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="16">
			<li>Directivas</li>
			<li>Creando la vista con SASS, Compass y Twitter Bootstrap</li>
			<li>Underscore</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="24"></i>
	        <p><span class="date-time">Martes 24 de Febrero / {{ page.time }}</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="21">
      <li>Unit Testing con Jasmine y KarmaJS</li>
      <li>Recipe: Repaso general construyendo de un mobile web app para TODOs usando Facebook API y BaaS (Back-end as a Service) con Firebase</li>
		</ol>
	</div>

</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Inicio: {{ page.start-date }}</span><br/>
	       	6 sesiones</p>
		</div>

		{% include side-bar-location.html %}

	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $252</p>
    <p>Ofrecemos planes de pago en 2 cuotas.</p>
		<p class="marginless"><strong>Incluye:</strong></p>
		<ul>
			<li>18 horas de entrenamiento</li>
      <li>Refrigerios diarios</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:<br></strong>
    Transferencia Bancaria.<br/>
    Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<p><strong>***</strong> A las personas que cancelen en una sola cuota por adelantado se les entregará el libro <a href="http://shop.oreilly.com/product/0636920033486.do" target="_blank">Libro AngularJS Up & Running de O'reilly</a> de cortesía.</p>
		<img src="../img/cursos/angular/angular.gif" alt="Angular.js"/>
	</div>

	{% include side-bar-cursos.html %}

</aside>
