<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>El Desarrollo Web en general siempre está en rápido y constante cambio, pero siempre hay un grupo de tecnologías establecidas que marcan la pauta sobre la dirección y las buenas prácticas que se implementan en el proceso. <strong>AngularJS</strong>, al ser un proyecto completamente patrocinado por <strong>Google</strong> y por su amplia adopción, está en camino de convertirse (si no es que ya lo es) en una de estas tecnologías. El Objetivo de este curso es darle un vistazo a como se hace Desarrollo Web en el 2014, enfocado principalmente en <strong>AngularJS</strong> pero sin dejar de lado tecnologías complementarias como <strong>Twitter Boostrap</strong>, <strong>GitHub</strong>, <strong>Sublime Text 2</strong> y <strong>WebStorm</strong>.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Programadores <em>Front-End</em> con interés en ampliar sus conocimientos más allá de <strong>jQuery</strong> y la forma tradicional de comunicarse con el servidor y estructurar páginas y aplicaciones web.</li>
		<li>Programadores <em>Back-End</em> con conocimiento del modelo <strong>MVC</strong> y con interés en conocer como <strong>AngularJS</strong> está implementando patrones de diseño en el <em>Front-End</em>.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>JavaScript basico</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Laptop (Mac preferiblemente)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<img src="../img/cursos/angular/alberto-cole.jpg" alt="Alberto Cole">
		<a href="http://www.linkedin.com/pub/alberto-cole-palacios/74/234/886" target="_blank"><p><strong>Alberto Cole</strong><br/>
		<em><small>Principal Creative Engineer @ Prodigious</small></em><br/></a>
		Desarrollador Web con 8 años de experiencia en desarrollo de soluciones web para clientes locales e internacionales.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Jueves {{ page.start-day }} de Mayo / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Porque AngularJS?</li>
			<li>Angular vs. jQuery</li>
			<li>Angular vs. Otros Frameworks MVC: Similitudes y Diferencias</li>
			<li>Links de Interes</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="8"></i>
	        <p><span class="date-time">Jueves 8 de Mayo / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="5">
			<li>Configuración del entorno de Desarrollo (WebStorm y Sublime Text2, despues el estudiante  decide con cual quedarse)</li>
			<li>Control de versiones con Git</li>
			<li>Data Binding</li>
			<li>Notacion JSON</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="15"></i>
	        <p><span class="date-time">Jueves 15 de Mayo / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="9">
			<li>El objeto Scope</li>
			<li>Controladores</li>
			<li>Vistas</li>
			<li>Filtros</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="22"></i>
	        <p><span class="date-time">Jueves 22 de Mayo / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="13">
			<li>Routing</li>
			<li>Inyección de Dependencias</li>
			<li>Directivas</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="29"></i>
	        <p><span class="date-time">Jueves 29 de Mayo / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="16">
			<li>Twitter Bootstrap</li>
			<li>Angular UI</li>
			<li>Underscore</li>
			<li>Scaffolding con Yeoman, Grunt y Bower</li>
			<li>Unit Testing (Jasmine, Angular Mocks y PhantomJS)</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="5"></i>
	        <p><span class="date-time">Jueves 5 de Junio / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="21">
			<li>Validación de Formularios</li>
			<li>Services, Factories y Providers</li>
			<li>Comunicación asincrónica y REST al servidor mediante los providers $http y $resource</li>
			<li>Cual es el futuro próximo del Desarrollo Web? Como mantenerme actualizado?</li>
		</ol>
	</div>

	<h2>Al finalizar este curso usted habrá aprendido:</h2>
	<p>Ventajas de usar un <em>approach</em> <strong>MVC</strong> del lado del cliente, comparando una solución de <strong>jQuery</strong> contra lo que se puede hacer en Angular, revisión de los <em>frameworks</em> más famosos y porque AngularJS es la mejor solución actualmente, revisión de los sitios más importantes de desarrollo web para mantenerse actualizado.</p>
	<p>Inicio de un proyecto web desde la iteración 0: Pasos para instalar <strong>Sublime Text</strong>, <strong>Jetbrains WebStorm</strong>, aprender a trabajar con <strong>Git</strong> desde la linea de comandos y desde el <strong>IDE</strong>, aplicando conceptos de <strong>branches</strong>, los comandos <strong>commit</strong>, <strong>push</strong> y <strong>pull</strong>. Una vez listo el entorno de desarrollo se procede (y de ahora en adelante lo mismo para cada lección) a bajar un repositorio con código para empezar a entender el concepto de Data Binding de Angular, y una revisión de la notación <strong>JSON</strong>.</p>
	<p>Se empieza a entender como usar el <strong>$scope</strong> con ejemplos de cómo ayuda a separar la lógica de negocios de la vista, se introduce al estudiante con el concepto de <strong>controladores</strong> y de cuáles son las mejores prácticas para dividir el código por controladores. Se muestran los nuevos <strong>tags</strong> y el ciclo de vida para “enseñarle” al <em>browser</em> nuevos comportamientos. Uso de los filtros <em>built-in</em> de Angular y de como crear nuevos filtros.</p>
	<p>Se muestra el concepto de <strong>routing</strong> en el <em>front-end</em>, y de como AngularJS lo implementa, cuáles son los casos más comunes a la hora de aplicarlo y el porqué ayuda a ordenar el código. Creación paso a paso de una <strong>inyección de dependencias</strong>, además de una explicación de cual es el mecanismo para que esto suceda. Concepto de directivas y de porqué son tan buenas para re-utilizar y modularizar el código, comunicación entre directivas. Todo esto mediante la modificación y explicación linea por linea de una directiva previamente creada para la clase.</p>
	<p>Un pequeño vistazo de tecnologías complementarias a AngularJS: <strong>Twitter Bootstrap</strong> para ayudar a estructurar la vista y su soporte en el <strong>Responsive Web Design</strong>, revisión de los subproyectos de Angular UI para expandir la Vista, practicar con las funciones más comunes para manejar colecciones y objetos con <strong>Underscore.js</strong>, <em>Scaffolding</em> con <strong>Yeoman</strong> y su utilidad para crear la estructura de un proyecto, además de como se liga a <strong>Bower</strong> para despreocuparse del mantenimiento y búsqueda de scripts de los que depende un proyecto, y <strong>Grunt</strong> para automatización de tareas tediosas y repetitivas (pero necesarias) como minificar JS y CSS, actualización de cambios con <strong>LiveReload</strong> y su extensibilidad. Creación y automatización de <em>unit testing</em> con <strong>Jasmine</strong>, <strong>Angular Mocks</strong> y <strong>PhantomJS</strong>.</p>
	<p>Validaciones de formularios y de como AngularJS automáticamente agrega comportamientos a los tags <strong>&lt;form /&gt;</strong> para tareas comunes, suscripción de objetos al <strong>$watch</strong> para estar viendo sus cambios de estados, <strong>$setValidity</strong> para validar o invalidar un formulario, ng-submit para capturar los eventos de submit de un formulario. Mayor separación lógica del código mediante los conceptos de service, factory y provider, y en qué caso es adecuado cada uno. Conceptos de <strong>AJAX</strong> y <strong>REST</strong>, como hacer solicitudes <strong>HTTP</strong> al servidor mediante los servicios <strong>$http</strong> y <strong>$resource</strong>. Repaso general de la aplicación creada en las lecciones, revisión del futuro próximo del desarrollo web y técnicas para estar siempre actualizado.</p>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-day }} de Mayo - 5 de Junio</span><br/>
	       	6 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">TEC Campus San Pedro</span><br/>
            	Oficentro Condal / 2<sup>do</sup> piso</p>
        	<p class="address"><small>San Pedro de Montes de Oca<br/>
        		Contiguo a Muñoz &amp; Nanne<br/>
        		Piso #2<br/>
        		El edificio cuenta con amplio parqueo<br/>
        		<a href="https://www.facebook.com/Oficentro.Condal" target="_blank">Ver Página en Facebook</a></small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $270</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>18 horas de curso</li>
			<li>Refrigerios</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<p><strong>***</strong> A las 2 primeras personas en matricular se les regalará el <a href="http://shop.oreilly.com/product/0636920028055.do" target="_blank">Libro Angular.js de O'reilly</a></p>
		<img src="../img/cursos/angular/angular.gif" alt="Angular.js"/>
	</div>

</aside>
