<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Hace poco tiempo atrás, las aplicaciones web apostaban al servidor para realizar la mayoría de la manipulación de datos. Hoy en día esto ha cambiado y el servidor envía datos en crudo para ser manipulados por el browser. Como respuesta a esta complejidad que se agregó al lado del cliente, nacieron las librerías <strong>MV*</strong> (Backbone.js, Angular.js, Ember.js, entre otras).</p>
	<p>El objetivo de este curso es formar una base sólida de conocimiento sobre la librería <strong>Backbone</strong> y utilizar este conocimiento para escribir aplicaciones <strong>JavaScript</strong> estructuradas y escalables.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Programadores con interés en aprender a escribir código <strong>JavaScript</strong> estructurado y escalable mediante la aplicación de patrones de diseño como lo es: <strong>MV*</strong> (Modelo ­ Vista ­ Presentador / Controlador / etc.)</li>
		<li>Programadores interesados en profundizar en los detalles de la implementación de <strong>“Single Page Applications”</strong></li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>JavaScript itermedio</li>
		<li>Laptop (Mac o Ubuntu preferiblemente)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<img src="../img/cursos/backbone/daniel-fernandez.png" alt="Daniel Fernández">
		<!--<a href="http://www.linkedin.com/pub/alberto-cole-palacios/74/234/886" target="_blank">-->
		<p><strong>Daniel Fernández Arias</strong><br/>
		<em><small>Web Developer @ log(n)</small></em><br/><!--</a>-->
		Web Developer con más de 5 años de experiencia desarrollando soluciones web.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.date }} / {{ page.time }}.</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li><strong>Fundamentos</strong>
				<ol>
					<li>Single Page Applications</li>
					<li>¿Qué es MV*?</li>
					<li>¿Qué es Backbone.js?</li>
					<li>¿Por qué Backbone.js?</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="6"></i>
	        <p><span class="date-time">Lunes 6 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="2">
			<li>
				<ol>
					<li>Dependencias (Underscore.js / Lo­Dash.js, jQuery)</li>
					<li>Models</li>
					<li>Collections</li>
					<li>Views & Templating</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="13"></i>
	        <p><span class="date-time">Lunes 13 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="3">
			<li>
				<ol>
					<li>Persistencia con REST</li>
					<li>Routing</li>
					<li>Eventos</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="30"></i>
	        <p><span class="date-time">Lunes 30 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="4">
			<li>
				<ol>
					<li>Require.js</li>
					<li>Estructura de una aplicación Backbone con AMD</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="27"></i>
	        <p><span class="date-time">Lunes 27 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="5">
			<li>
				<ol>
					<li>Backbone Generator (Yeoman, Grunt & Bower)</li>
					<li>Unit Testing con Jasmine</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="3"></i>
	        <p><span class="date-time">Lunes 3 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="6">
			<li><strong>Patrones y anti patrones</strong>
				<ol>
					<li>Templating (Partials, inline templates)</li>
					<li>Views (subviews, delegación)</li>
					<li>Mixins</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="10"></i>
	        <p><span class="date-time">Lunes 10 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 7</strong></p>
	    </div>
		<ol start="7">
			<li>
				<ol>
					<li>Extensiones de Backbone</li>
					<li>Introducción a Marionette.js</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="17"></i>
	        <p><span class="date-time">Lunes 17 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 8</strong></p>
	    </div>
		<ol start="8">
			<li>
				<ol>
					<li>Repaso General</li>
					<li>Problemas comunes y sus soluciones</li>
				</ol>
			</li>
		</ol>
	</div>

</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.date }} - 17 de Noviembre</span><br/>
	       	10 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">Universidad Creativa</span></p>
        	<p class="address"><small>Del cementerio de San Pedro 350 sur, Circunvalación, San Pedro.</small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $360</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>24 horas de curso</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		
		<p><strong>***</strong> A las personas que matriculen con el pago de la totalidad se les regalará el <a href="http://shop.oreilly.com/product/0636920025344.do" target="_blank">Libro <em>Developing Backbone.js Applications</em>.</small></a></p>
		<img src="../img/cursos/backbone/developing-backbone-applications.png" alt="Developing Backbone.js Applications"/>
		
	</div>

	{% include side-bar-cursos.html %}

</aside>
