<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p><strong>JavaScript</strong>, <strong>HTML</strong> y <strong>CSS</strong> se han hecho tan predominantes que ya muchos sistemas operativos han adoptado los estándares web libres como la capa de presentación para aplicaciones nativas, incluyendo Windows 8, Firefox OS, Gnome y Google Chrome OS. También los dispositivos móviles como el iPhone y Android dan soporte a vistas web que permiten incorporar la funcionalidad de <strong>JavaScript</strong> y <strong>HTML5</strong> en aplicaciones nativas. <strong>JavaScript</strong> también se ha instalado en el lado del servidor. En este curso, probablemente el más importante para cualquier persona que quiera hacer una carrera en desarrollo web, UX, UI developer o cualquier area de desarrollo, aprenderán todos los aspectos principales de este lenguaje tan cotizado en el medio en los últimos tiempos.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Diseñadores web o desarrolladores de <strong>HTML</strong> y <strong>CSS</strong> con deseos de aprender a programar en el lenguaje de programación de la web, <strong>JavaScript</strong>, para  agregarle contenido dinámico a sus proyectos.</li>
		<li>Desarrolladores de <em>Back-End</em> o de <em>software</em> que deseen aprender el lenguaje de <em>scripting</em> de la web.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>Laptop (Mac preferiblemente)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://cr.linkedin.com/in/mpoveda/" target="_blank"><img src="../img/cursos/html-css/mauricio-poveda.jpg" alt="Mauricio Poveda">
		<p><strong>Mauricio Poveda</strong><br/></a>
		<em><small>Technology Manager @ The Hangar Interactive<br/>
			Coordinador Académico @ Origami</small></em><br/>
		Web Designer / Developer con + de 10 años de experiencia<br/>
		<small>5+ años de experiencia de docente en Desarrollo Web (Cenfotec / CETAV)</small></p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.date }} / {{ page.time }}.</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Conceptos básicos de programación
				<ol>
					<li>Valores
						<ul>
							<li>Numerales</li>
							<li>Booleanos</li>
							<li>Strings</li>
							<li>null</li>
							<li>undefined</li>
						</ul>
					</li>
					<li>Expresiones</li>
					<li>Variables</li>
					<li>Operadores</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="27"></i>
	        <p><span class="date-time">Sábado 27 de Setiembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol>
			<li>Estructuras de Selección
				<ol>
					<li>Conceptos básicos: condición</li>
					<li>if</li>
					<li>if else</li>
					<li>Operación ternaria</li>
					<li>switch</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="4"></i>
	        <p><span class="date-time">Sábado 4 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol>
			<li>Ciclos
				<ol>
					<li>Conceptos básicos: iniciación, condición e incremento</li>
					<li>while</li>
					<li>do while</li>
					<li>for</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="11"></i>
	        <p><span class="date-time">Sábado 11 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol>
			<li>Funciones
				<ol>
					<li>Conceptos básicos: parámetros, return</li>
					<li>Function declarations</li>
					<li>Function expressions</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="18"></i>
	        <p><span class="date-time">Sábado 18 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol>
			<li>Scope
				<ol>
					<li>Conceptos básicos</li>
					<li>Hoisting</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="25"></i>
	        <p><span class="date-time">Sábado 25 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol>
			<li>Arreglos
				<ol>
					<li>Conceptos básicos: índices</li>
					<li>Cómo Crear arreglos</li>
					<li>Cómo accesar elementos de los arreglos</li>
					<li>Cómo recorrer arreglos</li>
					<li>Propiedades de los arreglos</li>
					<li>Métodos de los arreglos</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="1"></i>
	        <p><span class="date-time">Sábado 1 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 7</strong></p>
	    </div>
		<ol>
			<li>Objetos
				<ol>
					<li>Conceptos básicos</li>
					<li>Cómo Crear objetos</li>
					<li>Cómo accesar elementos de los objetos</li>
					<li>Cómo recorrer objetos</li>
					<li>Propiedades de los objetos</li>
					<li>Métodos de los objetos</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="8"></i>
	        <p><span class="date-time">Sábado 8 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 8</strong></p>
	    </div>
		<ol>
			<li>DOM
				<ol>
					<li>Conceptos básicos</li>
					<li>Nodos</li>
					<li>DOM traversing</li>
					<li>Propiedades básicas de los Nodos</li>
					<li>Atributos y otras propiedades</li>
					<li>Cómo buscar elementos en el DOM</li>
					<li>Cómo modificar el DOM</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="15"></i>
	        <p><span class="date-time">Sábado 15 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 9</strong></p>
	    </div>
		<ol>
			<li>Eventos
				<ol>
					<li>Conceptos básicos</li>
					<li>Los diferentes modelos de eventos</li>
					<li>Bubbling y Capture</li>
					<li>Cómo asignar event handlers</li>
					<li>Eventos de mouse</li>
					<li>Focus/blur</li>
					<li>Eventos de teclado</li>
					<li>Cómo obtener el objeto evento</li>
				</ol>
			</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="22"></i>
	        <p><span class="date-time">Sábado 22 de Noviembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 10</strong></p>
	    </div>
		<ol>
			<li>DOM y Eventos (Repaso)</li>
		</ol>
	</div>

</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.date }} - 22 de Noviembre</span><br/>
	       	10 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">TEC Campus San Pedro</span><br/>
            	Oficentro Condal / 2<sup>do</sup> piso</p>
        	<p class="address"><small>San Pedro de Montes de Oca<br/>
        		Contiguo a Muñoz &amp; Nanne<br/>
        		Piso #2<br/>
        		El edificio cuenta con amplio parqueo<br/>
        		<a href="https://www.facebook.com/Oficentro.Condal" target="_blank">Ver Página en Facebook</a></small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $600</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>40 horas de curso</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		
		<p><strong>***</strong> A las 3 primeras personas en matricular se les regalará el <a href="http://javascriptbook.com/" target="_blank">Libro JavaScript &amp; jQuery - <small>Interactive Front-End Web Development.</small></a></p>
		<img src="../img/cursos/javascript/javascript-jquery.jpg" alt="JavaScript & jQuery"/>
		
	</div>

	{% include side-bar-cursos.html %}

</aside>
