<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Ofrecer al estudiante los conocimientos totales e integrales sobre el desarrollo de un sitio o aplicación web desde cero. Tomando un diseño, wireframe o prototipo de partida, se escribirá el código a mano hasta terminar traduciéndolo a código e imprimirlo en el browser. Con este curso se aprenderá a dominar las capas de Estructura-Contenido (HTML) y Presentación-Diseño (CSS).</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Personas interesadas en aprender a desarrollar sitios y aplicaciones web desde cero</li>
		<li>Diseñadores gráficos</li>
		<li>Personas que utilicen CMS o Blogs que quieran tener más control sobre sus proyectos</li>
		<li>Informáticos con poco conocimiento de Front-End</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>Computadora Portátil (preferiblemente Mac)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://cr.linkedin.com/in/mpoveda/" target="_blank"><img src="../img/cursos/html-css/mauricio-poveda.jpg" alt="Mauricio Poveda">
		<p><strong>Mauricio Poveda</strong><br/></a>
		<em><small>Technology Manager @ The Hangar Interactive<br/>
			Coordinador Académico @ Origami</small></em><br/>
		Web Designer / Developer con + de 10 años de experiencia<br/>
		<small>5+ años de experiencia de docente en Desarrollo Web (Cenfotec / CETAV)</small></p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}.</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<h5>Introducción</h5>
		<ol>
			<li>Cómo funciona internet
				<ol>
					<li>El ciclo consulta respuesta</li>
					<li>Cómo accesamos un sitio web</li>
					<li>Capas de un proyecto web</li>
					<li>Capas de lado cliente (Front-End)</li>
				</ol>
			</li>
		</ol>
		<h5>HTML</h5>
		<ol start="2">
			<li>Introducción a HTML
				<ol>
					<li>Qué es HTML</li>
					<li>Anatomía de una etiqueta</li>
					<li>Etiquetas, elementos, atributos y valores</li>
					<li>Tipos de etiquetas</li>
					<li>Espacio en blanco en un documento HTML</li>
					<li>Comentarios</li>
					<li>Indentación</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="31"></i>
	        <p><span class="date-time">{{ page.class-day }} 31 de Enero / {{ page.time }}.</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="3">
			<li>Estructura
				<ol>
					<li>Estructura base de un documento HTML</li>
					<li>Documento como árbol de nodos</li>
					<li>Versiones de HTML (Doctypes)</li>
					<li>El elemento &lt;html&gt;</li>
					<li>El elemento &lt;head&gt;</li>
					<li>El elemento &lt;body&gt;</li>
				</ol>
			</li>
			<li>Semántica
				<ol>
					<li>Qué es semántica</li>
					<li>Documentos web semánticos</li>
				</ol>
			</li>
			<li>Texto
				<ol>
					<li>Encabezados y párrafos</li>
					<li>Citas</li>
					<li>Superscript, subscript, acrónimos y abreviaturas</li>
					<li>Negrita, itálica, énfasis</li>
					<li>Saltos de línea</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="7"></i>
	        <p><span class="date-time">{{ page.class-day }} 7 de Febrero / {{ page.time }}.</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="6">
			<li>Listas
				<ol>
					<li>Listas ordenadas (numeradas)</li>
					<li>Listas desordenadas (viñetas)</li>
					<li>Listas anidadas</li>
					<li>Listas de definición</li>
				</ol>
			</li>
			<li>Enlaces (Links)
				<ol>
					<li>Direcciones relativas y absolutas</li>
					<li>Links verticales en un documento (anchors)</li>
					<li>Links a otras páginas</li>
					<li>Link a otros sitios web</li>
					<li>Links a emails u otras funciones</li>
				</ol>
			</li>
			<li>Imagenes
				<ol>
					<li>Cómo agregar imágenes a un documento web</li>
					<li>Diferentes formatos de imagenes web</li>
					<li>Optimización de imágenes para web</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="14"></i>
	        <p><span class="date-time">{{ page.class-day }} 14 de Febrero / {{ page.time }}.</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="9">
			<li>Contenedores
				<ol>
					<li>Tipos de contenedores</li>
					<li>Conceptos 'inline' y 'block'</li>
					<li>Estructura de un sitio con contenedores &lt;div&gt;</li>
					<li>Estructura de un sitio con elementos HTML5 semánticos</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="21"></i>
	        <p><span class="date-time">{{ page.class-day }} 21 de Febrero / {{ page.time }}.</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="10">
			<li>Formularios
				<ol>
					<li>Para qué sirve un formulario</li>
					<li>Cómo estructurar un formulario</li>
					<li>Controles de formularios</li>
					<li>Tipos de input</li>
					<li>Nuevos tipos de input de HTML5</li>
					<li>Validación de formularios con HTML5</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="28"></i>
	        <p><span class="date-time">{{ page.class-day }} 28 de Febrero / {{ page.time }}.</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="11">
			<li>Tablas
				<ol>
					<li>Tablas</li>
					<li>Cuándo usar tablas</li>
					<li>Estructura de una tabla</li>
				</ol>
			</li>
			<li>Media
				<ol>
					<li>Cómo introducir Flash</li>
					<li>Cómo introducir audio y video con HTML5</li>
				</ol>
			</li>
			<li>Otros elementos
				<ol>
					<li>iFrames</li>
					<li>Metadata</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="7"></i>
	        <p><span class="date-time">{{ page.class-day }} 7 de Marzo / {{ page.time }}.</span><br/><strong class="highlighted">Semana 7</strong></p>
	    </div>
		<h5>CSS</h5>
		<ol start="14">
			<li>Introducción a CSS
				<ol>
					<li>Qué es CSS y para que sirve</li>
					<li>Cómo funciona CSS</li>
					<li>CSS inline, interno y externo</li>
					<li>Anatomía de una regla</li>
					<li>Reglas, definiciones, selectores, propiedades y valores</li>
					<li>Comentarios</li>
					<li>Indentación</li>
				</ol>
			</li>
			<li>Selectores
				<ol>
					<li>Selectores básicos o simples</li>
					<li>Selectores de id y de clase</li>
					<li>Selectores descendientes</li>
					<li>Selectores de atributo</li>
					<li>Otros selectores</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="14"></i>
	        <p><span class="date-time">{{ page.class-day }} 14 de Marzo / {{ page.time }}.</span><br/><strong class="highlighted">Semana 8</strong></p>
	    </div>
		<ol start="16">
			<li>Color
				<ol>
					<li>Cómo especificar colores (RGB, RGBA, HEX, HSL y HSLA)</li>
					<li>Color en texto</li>
					<li>Color en fondos</li>
				</ol>
			</li>
			<li>Texto
				<ol>
					<li>Tamaños y tipos de fuentes</li>
					<li>Unidades en px, pt, % y em</li>
					<li>Negrita, italica, mayúsculas y subrayados</li>
					<li>Espaciado entre líneas, palabras y letras</li>
					<li>Alineamiento e indentación</li>
				</ol>
			</li>
			<li>Listas, Tablas y formularios
				<ol>
					<li>Tipos de viñetas</li>
					<li>Estilizado de tablas</li>
					<li>Estilizado de formularios</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="21"></i>
	        <p><span class="date-time">{{ page.class-day }} 21 de Marzo / {{ page.time }}.</span><br/><strong class="highlighted">Semana 9</strong></p>
	    </div>
		<ol start="19">
			<li>Cajas
				<ol>
					<li>Modelo de formato visual</li>
					<li>Modelo de Caja</li>
					<li>Bordes, márgenes y paddings</li>
					<li>Shorthands</li>
					<li>Ocultar y mostrar cajas y elementos (display y visibility)</li>
					<li>Bordes redondeados</li>
				</ol>
			</li>
			<li>Layout
				<ol>
					<li>Esquemas de posicionamiento (Fixed, absolute y relative)</li>
					<li>Posicionado y flow normal</li>
					<li>Floats y clears</li>
					<li>Estructuras multicolumnas con floats</li>
					<li>Colapsamiento de márgenes</li>
					<li>Capas (z-index)</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="28"></i>
	        <p><span class="date-time">{{ page.class-day }} 28 de Marzo / {{ page.time }}.</span><br/><strong class="highlighted">Semana 10</strong></p>
	    </div>
		<ol start="21">
			<li>Imagenes
				<ol>
					<li>Imágenes de fondo</li>
					<li>Gradientes de fondo</li>
					<li>Sprites</li>
				</ol>
			</li>
			<li>Navegaciones
				<ol>
					<li>Menus de navegación</li>
					<li>Botones</li>
					<li>Estados de botones</li>
					<li>Tipos de cursores</li>
				</ol>
			</li>
		</ol>
		<h5>Misceláneo</h5>
		<ol start="23">
			<li>Herramientas y Tips
				<ol>
					<li>Developer tools</li>
					<li>Inspectores</li>
					<li>Cómo publicar un sitio</li>
				</ol>
			</li>
		</ol>
	</div>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Inicio: {{ page.start-date }}</span><br/>
	       	10 sesiones</p>
		</div>

		{% include side-bar-location.html %}

	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $560</p>
    <p>Ofrecemos planes de pagos en 2 y 3 cuotas.</p>
		<p class="marginless"><strong>Incluye:</strong></p>
		<ul>
			<li>40 horas de entrenamiento</li>
      <li>Refrigerios diarios</li>
      <li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong><br>
    Transferencia Bancaria.<br/>
    Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>

		<p><strong>***</strong> A las personas que cancelen en una sola cuota por adelantado se les entregará el libro <a href="http://www.htmlandcssbook.com/" target="_blank">HTML &amp; CSS - Design and Build Websites</a> de cortesía.</p>
		<img src="../img/cursos/html-css/html-css.jpg" alt="HTML & CSS"/>

	</div>

	{% include side-bar-cursos.html %}

</aside>
