<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Ofrecer al estudiante los conocimientos necesarios para desarrollar páginas web de alta calidad utilizando el <strong>CMS (Content Management System) WordPress</strong>. Repasar las mejores prácticas para poder ofrecer la mayor variedad de posibilidades a clientes con requerimientos básicos y medios.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Diseñadores y desarrolladores web interesados en incorporar <strong>WordPress</strong> a sus herramientas o tecnologías de desarrollo.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>HTML/CSS, JS básico</li>
		<li>Laptop (preferiblemente Mac)</li>
		<li>MAMP o MAMP pro</li>
		<li>Bajar Wordpress: <a href="http://wordpress.org/download/">http://wordpress.org/download/</a></li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://cr.linkedin.com/in/lillyanka" target="_blank"><img src="../img/cursos/wordpress/lilliana-viquez.jpg" alt="Lilliana Víquez">
		<p><strong>Lilliana Víquez Murillo</strong><br/></a>
		<em><small>Fundadora / Senior Developer @ TwelveOhSix Creative</small></em><br/>
		Desarrolladora web con 5 años de experiencia en Front-End, Wordpress y Shopify para clientes dentro y fuera de Costa Rica</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Qué es WordPress</li>
			<li>Instalación y ejecución</li>
			<li>Uso del Dashboard y sus herramientas</li>
			<li>Publicar posts y páginas</li>
			<li>Insertar imágenes, video y otro tipo de media</li>
			<li>Editar posts</li>
			<li>Cambiar temas</li>
			<li>Agregar otros usuarios</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="16"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="9">
			<li>Anatomía de un tema default</li>
			<li>Instalar plugins</li>
			<li>Plugins más usados</li>
			<li>Menús, sidebars widgetizados</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="23"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="12">
			<li>Cómo iniciar un tema custom</li>
			<li>Estructura de archivos</li>
			<li>Herencia de los archivos</li>
			<li>Cómo pasar de HTML a WP</li>
			<li>Etiquetas reservadas de Wordpress</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="30"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="16">
			<li>Uso de plantillas (templates)</li>
			<li>Cómo dividir nuestro sitio</li>
			<li>'Custom Themes' básicos</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="6"></i>
	        <p><span class="date-time">{{ page.start-date }} / {{ page.time }}</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="19">
			<li>'Custom Themes' básicos (continuación)</li>
			<li>Mejores prácticas de desarrollo</li>
			<li>Exportar e importar nuestro custom theme</li>
		</ol>
	</div>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-date }}</span><br/>
	       	5 sesiones</p>
		</div>

		{% include side-bar-location.html %}

	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $210</p>
    <p>Ofrecemos planes de pago en 2 cuotas.</p>
		<p><strong>Incluye:</strong></p>
		<ul>
      <li>24 horas de entrenamiento</li>
      <li>Refrigerios diarios</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong><br>
    Transferencia Bancaria<br>
		Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
	</div>

	{% include side-bar-cursos.html %}

</aside>
