<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Ante el auge y crecimiento de JavaScript del lado cliente (front-end), <strong>Node.js</strong> permite utilizar el mismo lenguaje del lado servidor (server-side) permitiendo a los desarrolladores crear aplicaciones web de inicio a fin con <strong>JavaScript</strong>.</p>
	<p>Al final de este curso los estudiantes comprenderán los conceptos básicos, herramientas y cómo depurar aplicaciones con <strong>Node.js</strong>, preparando el camino para un segundo curso más avanzado y profundo.</p>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Programadores Front-End con interés en ampliar su conocimiento más allá del lado del cliente aprovechando sus conocimientos en <strong>JavaScript</strong> para desarrollar aplicaciones escalables en tiempo real con <strong>Node.js</strong>.</li>
		<li>Programadores Back-End con conocimientos básicos en <strong>JavaScript</strong> que deseen aplicar sus habilidades del lado de servidor como <strong>HTTP</strong> y <strong>Routing</strong> en combinación con <strong>Node.js</strong> para ampliar sus capacidades en Back-End.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>JavaScript básico</li>
		<li>Comprensión básica de modelo cliente-servidor</li>
		<li>Computadora Portátil (preferiblemente Mac)</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://www.linkedin.com/in/kevinblanco" target="_blank"><img src="../img/cursos/node/kevin-blanco.jpg" alt="Kevin Blanco">
		<p><strong>Kevin Blanco</strong><br/></a>
		<em><small>Front-End Engineer @ POP Agency</small></em><br/>
		Desarrollador Web con más de 4 años de experiencia desarrollando soluciones web tanto en Back-End como en Front-End.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Viernes {{ page.start-day }} de Agosto / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Introducción a Node.js</li>
			<li>Porqué Node.js?</li>
			<li>Módulos y NPM</li>
			<li>Blocking vs Non-Blocking</li>
			<li>Event Loop</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="15"></i>
	        <p><span class="date-time">Viernes 15 de Agosto / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="6">
			<li>FileSystem</li>
			<li>Buffers</li>
			<li>Events: Emitters,Requests, Listeners</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="22"></i>
	        <p><span class="date-time">Viernes 22 de Agosto / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="9">
			<li>Streams: Reading, writing, piping</li>
			<li>Introducción a Desarrollo de Módulos</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="29"></i>
	        <p><span class="date-time">Viernes 29 de Agosto / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="11">
			<li>HTTP</li>
			<li>TCP</li>
			<li>Manejo de errores</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="5"></i>
	        <p><span class="date-time">Viernes 5 de Setiembre / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="14">
			<li>Introducción a Express framework</li>
			<li>Routing</li>
			<li>Sessions</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="12"></i>
	        <p><span class="date-time">Viernes 12 de Setiembre / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="17">
			<li>Introduccion a Socket.io</li>
			<li>Desarrollando Aplicación de chat</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="19"></i>
	        <p><span class="date-time">Viernes 19 de Setiembre / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 7</strong></p>
	    </div>
		<ol start="19">
			<li>Conectando Node.js con MongoDB</li>
			<li>Introducción a Mongoose</li>
			<li>Definiendo Esquemas y Modelos</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="26"></i>
	        <p><span class="date-time">Viernes 26 de Setiembre / 6:30 – 9:30 pm</span><br/><strong class="highlighted">Semana 8</strong></p>
	    </div>
		<ol start="22">
			<li>Deployments a Heroku</li>
			<li>Servicios en la Nube</li>
			<li>Servicios de MongoDB</li>
			<li>Monitoreando tu App</li>
		</ol>
	</div>
</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-day }} de Agosto - 26 de Setiembre</span><br/>
	       	8 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">TEC Campus San Pedro</span><br/>
            	Oficentro Condal / 2<sup>do</sup> piso</p>
        	<p class="address"><small>San Pedro de Montes de Oca<br/>
        		Contiguo a Muñoz &amp; Nanne<br/>
        		Piso #2<br/>
        		El edificio cuenta con amplio parqueo<br/>
        		<a href="https://www.facebook.com/Oficentro.Condal" target="_blank">Ver Página en Facebook</a></small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $360</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>24 horas de curso</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<p><strong>***</strong> A las 2 primeras personas en matricular se les regalará el <a href="http://shop.oreilly.com/product/0636920024606.do" target="_blank">Libro Learning Node de O'reilly</a></p>
		<img src="../img/cursos/node/node.gif" alt="Learning Node"/>
	</div>

	{% include side-bar-cursos.html %}

</aside>