<div class="span8">
	<h2>Objetivo Principal:</h2>
	<p>Promover en los participantes el desarrollo de capacidades para el uso intermedio del <em>Framework Ruby on Rails</em> para la creación de aplicaciones Web.</p>

	<h2>Objetivos Específicos:</h2>
	<ul>
		<li>Aprender los conceptos básicos de <strong>Ruby</strong> como lenguaje de programación.</li>
		<li>Conocer la estructura de una aplicación de <strong>Ruby on Rails</strong> y asi entender para qué sirve cada carpeta dentro del proyecto.</li>
		<li>Desarrollar nuevas funcionalidades a partir del código generado por el <em>framework</em>.</li>
		<li>Familiarizarse con herramientas para liberar una versión de producción de un proyecto de <strong>Ruby on Rails</strong>.</li>
		<li>Conocer sobre algunas <strong>Gemas</strong> que facilitan el desarrollo de aplicaciones de <strong>Ruby on Rails</strong>.</li>
	</ul>

	<h2>Dirigido a:</h2>
	<ul>
		<li>Profesionales de desarrollo Web que trabajan con otras herramientas o lenguajes, pero que desean aprender sobre <strong>Ruby on Rails</strong>.</li>
		<li>Desarrolladores <em>front-end</em> que deseen conocer un poco más sobre <strong>Ruby on Rails</strong> como backend.</li>
	</ul>

	<h2>Pre requisitos &amp; preparación:</h2>
	<ul>
		<li>Laptop (Sistema operativo preferiblemente basado en Unix, pero se puede trabajar con VM también).</li>
		<li>Preferiblemente con algunos conocimientos sobre herramientas de consola Unix.</li>
		<li>Conocimientos de programación (idealmente algún lenguaje de tipo <em>scripting</em> como <strong>PHP</strong> o <strong>Python</strong>.</li>
	</ul>

	<h2>Sobre el instructor</h2>
	<div class="instructor clearfix">
		<a href="http://www.linkedin.com/pub/juan-garcia/36/826/968" target="_blank"><img src="../img/cursos/ruby/juan-garcia.jpg" alt="Juan García"></a>
		<p><strong>Juan Vicente García</strong><br/>
		<em>Desarrollador de Software con 7 años de experiencia en aplicaciones web con <strong>Java</strong> y <strong>Ruby on Rails</strong></em>.</p>
	</div>

	<h2>Calendario &amp; Temario</h2>
	<p class="minimum-attendance">(Fechas sujetas a cupo mínimo)</p>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">Sábado {{ page.start-day }} de Agosto / {{ page.time }}.</span><br/><strong class="highlighted">Semana 1</strong></p>
	    </div>
		<ol>
			<li>Introducción (un poco de historia, algunos proyectos que usan Ruby)
				Instalación de Ruby (via RVM)</li>
			<li>Herramientas de línea de comandos (gem, irb, ri, rdoc, etc)</li>
			<li>Conceptos básicos de programación en Ruby
				<ul>
					<li>Hileras, números y otros tipos básicos, símbolos</li>
					<li>Variables</li>
					<li>Flujo de control, loops básicos, condiciones</li>
				</ul>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="30"></i>
	        <p><span class="date-time">Sábado 30 de Agosto / {{ page.time }}.</span><br/><strong class="highlighted">Semana 2</strong></p>
	    </div>
		<ol start="4">
			<li>Clases y Objetos en Ruby</li>
			<li>Principales estructuras de datos: arreglos y Hashes en Ruby</li>
			<li>Bloques e iteradores</li>
			<li>Algunos otros objetos interesantes de Ruby: Ranges, Regexes</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="6"></i>
	        <p><span class="date-time">Sábado 6 de Setiembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 3</strong></p>
	    </div>
		<ol start="8">
			<li>La filosofía de Ruby on Rails</li>
			<li>Instalación de Ruby on Rails</li>
			<li>Principales comandos de Rails
				<ul>
					<li>Servidor</li>
					<li>Consola</li>
					<li>Test</li>
				</ul>
			</li>
			<li>Vistazo a la estructura de una aplicación de Rails</li>
			<li>Generadores, scaffolding, migraciones y seeds</li>
			<li>Routing básico</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="13"></i>
	        <p><span class="date-time">Sábado 13 de Setiembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 4</strong></p>
	    </div>
		<ol start="14">
			<li>ActiveRecord
				<ul>
					<li>Validaciones</li>
					<li>Relaciones entre modelos</li>
					<li>Joins, includes, otros métodos de querying</li>
					<li>Scopes</li>
					<li>Callbacks</li>
				</ul>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="20"></i>
	        <p><span class="date-time">Sábado 20 de Setiembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 5</strong></p>
	    </div>
		<ol start="15">
			<li>ActionController
				<ul>
					<li>Un poco más de routing</li>
					<li>Strong parameters</li>
					<li>Filtros</li>
					<li>Otros objetos como flash, Sesiones, etc</li>
				</ul>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="27"></i>
	        <p><span class="date-time">Sábado 27 de Setiembre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 6</strong></p>
	    </div>
		<ol start="16">
			<li>Views
				<ul>
					<li>ERB</li>
					<li>Jbuilder</li>
					<li>Helpers</li>
					<li>Partials</li>
				</ul>
			</li>
		</ol>
	</div>
	<div class="calendar-item">
	    <div>
	        <i class="ico ico-calendar" data-day="4"></i>
	        <p><span class="date-time">Sábado 4 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 7</strong></p>
	    </div>
		<ol start="17">
			<li>Configuración de diferentes ambientes (environments)</li>
			<li>Dejando WebRICK atrás, deployments de producción
				<ul>
					<li>Nginx + Passenger</li>
					<li>Nginx + Unicorn</li>
				</ul>
			</li>
			<li>Capistrano/Mina!</li>
		</ol>
	</div>
	<div class="calendar-item last">
	    <div>
	        <i class="ico ico-calendar" data-day="11"></i>
	        <p><span class="date-time">Sábado 11 de Octubre / {{ page.time }}.</span><br/><strong class="highlighted">Semana 8</strong></p>
	    </div>
		<ol start="20">
			<li>Algunas gemas y recursos interesantes
				<ul>
					<li>Mongoid</li>
					<li>Devise</li>
					<li>Cancan</li>
					<li>Geocoder</li>
					<li>New Relic!</li>
				</ul>
			</li>
			<li>Links y sitios de interés</li>
		</ol>
	</div>

</div>

<aside class="span4">
	<div class="side-top">
		<div class="calendar-item">
	        <i class="ico ico-calendar" data-day="{{ page.start-day }}"></i>
	        <p><span class="date-time">{{ page.start-day }} de Agosto - 11 de Octubre</span><br/>
	       	10 sesiones</p>
		</div>
		<div class="calendar-item">
			<i class="ico ico-location"></i>
            <p><span class="date-time">Universidad Creativa</span></p>
        	<p class="address"><small>Del cementerio de San Pedro 350 sur, Circunvalación, San Pedro.</small></p>
		</div>
	</div>
	<div class="info">
		<p><strong>Inversión:</strong> $360</p>
		<p><strong>Incluye:</strong></p>
		<ul>
			<li>24 horas de curso</li>
			<li>Refrigerios</li>
			<li>T-shirt</li>
			<li>Certificado de asistencia</li>
		</ul>
		<p><strong>Forma de pago:</strong> Transferencia Bancaria<br>
			Más información sobre forma de pago favor enviar un email a: <a href="mailto:info@origami.academy" target="_blank">info@origami.academy</a></p>
		<p><strong>***</strong> A las 2 primeras personas en matricular se les regalará el <a href="http://www.amazon.com/dp/B00E25KVLW/ref=rdr_kindle_ext_tmb" target="_blank">Libro Ruby on Rails 4.0 Guide</a></p>
		<img src="../img/cursos/ruby/ruby-on-rails-guide.png" alt="Ruby on Rails Guide"/>
	</div>

	{% include side-bar-cursos.html %}

</aside>